* {
  margin: 0;
  padding: 0;
}

.opa30{
    opacity: 40%;
}
h2{
  font-size: 32px;
}
.tnav {
	display: flex;
	align-items: center;
    margin-right:24px; 
}
nav {
    display: flex;
    gap: 16px;
    margin-left: auto;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
#logo{
    margin-left:24px;
}
.box1 {
    background-color:rgb(200, 222, 222);
  }
  .box2 {
    background-color:rgb(215, 229, 229);
  }
  
  #banner{
    width: 100%;
    height:auto;
    display: block;
    padding: 0px;
    margin: 32px -90px;

  }
  .lsnebox{
    margin:-30px;
  }
  .lsne{
    font-size:60px;
    font-weight:bold;
    font-family:sans-serif;
    opacity:90%;
  }
  .lsnep{
    font-family:sans-serif;
    font-weight:bold;
    font-size:30px;
    opacity:90%;
  }
  #shlink{
    text-decoration: none;
    background-color: rgb(40, 32, 32);
    color:white;
    font-size:30px;
    padding: 8px 120px;
    text-align: justify;
    font-family: Helvetica;
  }
  #info-main{
    width:100%;
    height:auto;
    margin: 32px -90px;
  }
  .box-text h1 {
    margin-bottom: 8px;
    font-size: larger;
    font-weight: bold;
    
  }
  #info-or,#info-camp,#info-gl{

    width:35%;
    height:auto;
    padding:16px;


  
  }
  .top{
    margin-top:100px;
  }
  .bottom{
    margin-bottom:100px;

  }
  #infos{
    margin-top:30px;
  }
  .inf{
    border: 1px solid black;
    margin:2px;
  }
  .heads6{
    margin-top: 100px;
  }
  .inf-desc{
    margin-top:8px;
    margin-bottom: 8px;
  }
  .hbelowinfo-main{
    font-size:45px;
    font-family: sans-serif;
    font-weight:bold;
    text-align:center;
    opacity:50%;
  }
  .motivate{
    font-family: sans-serif;
    text-align:center;
    font-style:italic;
    opacity:50%;

  }
  .emma{
    font-family: sans-serif;
    text-align:center;
    opacity:50%;
    margin-bottom: 32px;

  }
  .sl{
    padding-top:32px;
    margin-bottom:32px;
  }
  .secondrow{
    padding-bottom:32px;
  }
  .te{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 32px 0px;
  }
  .video{
    margin-left:-90px;
  }
#fisma,#now{

  width:35%;
  height:auto;
  padding:16px;

}
.thesis-title{
  margin-top:30px;
}
.thesis{
  margin-left:24px;
}
.ru{
  margin-top:24px;
  margin-left:-90px;
  font-weight: bolder;
  margin-bottom:8px;
}
.ru-desc{
  margin-left:-90px;
  font-family: sans-serif;
  opacity:90%;
  margin-bottom:32px;
}
.copyrights{
  margin-left:-90px;


}
.text-right{
  text-decoration: none;
  color:black;
  opacity:90%;
}